<!DOCTYPE html>
<html>
    <head>
        <title>Pipe</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
    </head>
    <body>
        <div id="topBar">
            <div id="topBarCenterContainer">
                <div id="topBarTitle">Pipe</div>
                <div id="userCount" class="topBarRight">"Users Online: "+<%= userCount %></div>
            </div>
        </div>
        <div id="container">
            <div id="login" class="subWindow">
                <div class="subContainer">
                    <form id="loginInputForm">
                        <input type="text" class="loginInput" name="room" placeholder="Room" />
                        <br />
                        <input type="text" class="loginInput" name="user" placeholder="Username" />
                        <input type="submit" class="hiddenSubmitButton" value="Enter" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>