<!DOCTYPE html>
<html>
    <head>
        <title>Pipe</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/static/js/pipe.js"></script>
    </head>
    <body>
        <input id="room" type="hidden" value=<%= room %> />
        <input id="user" type="hidden" value=<%= user %> />
        <div id="topBar">
        	<div id="topBarTitle">Pipe</div>
        	<div class="topBarRight"><a href="/">Exit Room >></a></div>
        </div>
        <div id="container">
            <h1 id="roomdisplay">Room: <%= room %></h1>
         	<h1 id="userdisplay">Username: <%= user %></h1>
            <h2 id="status">Status: </h2>
            <div id="sharedFilesPicker">
                <div class="subBar">Currently Sharing:</div>
                <div class="subContainer">
                    <div id="filename">Name:</div>
                    <div id="filetype">Type:</div>
                    <div id="filesize">Size:</div>
                    <form id="uploadForm" target="pipe" enctype="multipart/form-data" method="POST">
                        <input id="sharedFiles" type="file" name="file" />
                    </form>
                </div>
            </div>
            <br />
            <div id="filesList">
            	<div class="subBar">File List:</div>
                <div id="filesListContainer" class="subContainer"></div>
            </div>
            <iframe id="pipe" name="pipe" src=""></iframe>
        </div>
    </body>
</html>