<!DOCTYPE html>
<html>
    <head>
        <title>Pipe</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/static/js/pipe.js"></script>
    </head>
    <body>
        <input id="room" type="hidden" value=<%= room %> />
        <input id="user" type="hidden" value=<%= user %> />
        <div id="topBar">
            <div id="topBarCenterContainer">
            	<div id="topBarTitle">Pipe</div>
                <div id="topBarDisplayContainer">
                    <div id="roomDisplay" class="topBarDisplay">Room: <%= room %></div>
                    <div id="userDisplay" class="topBarDisplay">Username: <%= user %></div>
                    <div id="statusDisplay" class="topBarDisplay">Status: </div>
                </div>
            	<div class="topBarRight"><a href="/">Exit Room >></a></div>
            </div>
        </div>
        <div id="container">
            <div id="chatAndUserListContainer">
                <div id="chatRoom" class="subWindow">
                    <div class="subBar">Chat</div>
                    <div id="chatSubContainer" class="subContainer">
                        <div id="chatText" class="scrollableTextWrapArea"></div>
                        <form id="chatInputForm" target="chatPipe" action="/chat" method="POST">
                            <input id="chatInput" name="message" type="text" />
                            <input type="submit" class="hiddenSubmitButton" />
                        </form>
                    </div>
                </div>
                <div id="userList" class="subWindow">
                    <div class="subBar">Users</div>
                    <div id="userListSubContainer" class="subContainer">
                        <div id="userListText" class="scrollableTextWrapArea"></div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <br />
            <div id="sharedFilesPicker" class="subWindow">
                <div class="subBar">Currently Sharing</div>
                <div class="subContainer">
                    <div id="filename">Name:</div>
                    <div id="filetype">Type:</div>
                    <div id="filesize">Size:</div>
                    <form id="uploadForm" enctype="multipart/form-data" method="POST">
                        <input id="sharedFiles" type="file" name="file" />
                    </form>
                </div>
            </div>
            <br />
            <div id="fileList" class="subWindow">
            	<div class="subBar">File List</div>
                <div id="fileListContainer" class="subContainer"></div>
            </div>
            <iframe id="chatPipe" class="pipe" name="chatPipe" src=""></iframe>
        </div>
    </body>
</html>