html {
    min-height: 100%;
}

body {
    min-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: #546172;
    background: -moz-linear-gradient(top, #546172 0%, #43494f 36%, #151b1f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546172), color-stop(36%,#43494f), color-stop(100%,#151b1f));
    background: -webkit-linear-gradient(top, #546172 0%,#43494f 36%,#151b1f 100%);
    background: -o-linear-gradient(top, #546172 0%,#43494f 36%,#151b1f 100%);
    background: -ms-linear-gradient(top, #546172 0%,#43494f 36%,#151b1f 100%);
    background: linear-gradient(top, #546172 0%,#43494f 36%,#151b1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#546172', endColorstr='#151b1f',GradientType=0 );
}

#container {
    position: relative;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    overflow: hidden;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 2px black;
    -webkit-box-shadow: 0px 1px 2px black;
    -moz-box-shadow: 0px 1px 2px black;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=black, offX=0px, offY=1px, positive=true);
}

#topBar {
    z-index: 999;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    color: #ffffff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    background: #414141;
    background: -moz-linear-gradient(top, #414141 0%, #4c4c4c 0%, #222222 100%, #0e0e0e 100%, #101010 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(0%,#4c4c4c), color-stop(100%,#222222), color-stop(100%,#0e0e0e), color-stop(100%,#101010));
    background: -webkit-linear-gradient(top, #414141 0%,#4c4c4c 0%,#222222 100%,#0e0e0e 100%,#101010 100%);
    background: -o-linear-gradient(top, #414141 0%,#4c4c4c 0%,#222222 100%,#0e0e0e 100%,#101010 100%);
    background: -ms-linear-gradient(top, #414141 0%,#4c4c4c 0%,#222222 100%,#0e0e0e 100%,#101010 100%);
    background: linear-gradient(top, #414141 0%,#4c4c4c 0%,#222222 100%,#0e0e0e 100%,#101010 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#101010',GradientType=0 );
    box-shadow: 0px 1px 2px black;
    -webkit-box-shadow: 0px 1px 2px black;
    -moz-box-shadow: 0px 1px 2px black;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=black, offX=0px, offY=1px, positive=true);
}

#topBar a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#topBar a:visited {
    color: #ffffff;
    text-decoration: none;
}

#topBar a:hover {
    color: #d6e4ff;
    text-decoration: none;
}

#topBarCenterContainer {
    position: relative;
    width: 900px;
    height: 50px;
    margin: auto;
}

#topBarTitle {
    font-size: 36px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: default;
}

#topBarDisplayContainer {
    width: 500px;
    height: 50px;
    margin: auto;
}

.topBarDisplay {
    float: left;
    padding-top: 1.1em;
    padding-left: 1em;
    padding-right: 1em;
}

.topBarRight {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    padding-top: 1.1em;
}

.subWindow {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #999;
    -webkit-box-shadow: 0px 1px 2px #999;
    -moz-box-shadow: 0px 1px 2px #999;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#999, offX=0px, offY=1px, positive=true);
}

.subBar {
    background: #546172;
    width: 100%;
    height: 25px;
    top: 0px;
    color: #ffffff;
    text-align: center;
    padding-top: 0.5em;
    border-radius: 3px 3px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.subContainer {
    padding: 8px;
    background: #f6f8f9;
    border-radius: 0px 0px 3px 3px;
}

.scrollableTextWrapArea {
    background: #ffffff;
    overflow: auto;
    padding: 8px 8px;
    white-space: pre-wrap;  
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap;  
    word-wrap: break-word;
    border-radius: 3px;
    box-shadow: 0px 1px 4px #999;
    -webkit-box-shadow: 0px 1px 4px #999;
    -moz-box-shadow: 0px 1px 4px #999;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#999, offX=0px, offY=1px, positive=true);
}

.scrollableTextWrapArea::-webkit-scrollbar {
width: 6px;
height: 6px;
padding: 18px;
-webkit-border-radius: 1ex;
}

.scrollableTextWrapArea::-webkit-scrollbar-thumb {
background-color: #546172;
padding: 8px;
width: 6px;
height: 6px;
-webkit-border-radius: 1ex;
}

#chatRoom {
    width: 560px;
    height: 400px;
    float: left;
}

#chatSubContainer {
    width: 544px;
    height: 351px;
}

#chatText {
    width: 528px;
    height: 303px;
}

#chatInputForm {
    width: 544px;
    height: 30px;
}

#chatInput {
    outline: 0;
    border: 0;
    font-size: 12px;
    padding: 8px 4px;
    width: 536px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px #999;
    -webkit-box-shadow: 0px 1px 4px #999;
    -moz-box-shadow: 0px 1px 4px #999;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#999, offX=0px, offY=1px, positive=true);
}

#userList {
    width: 224px;
    height: 400px;
    float: right;
}

#userListSubContainer {
    width: 208px;
    height: 351px;
}

#userListText {
    width: 192px;
    height: 335px;
}

.fileListing {
    width: 784px;
    height: 36px;
}

.fileNameDescriptor {
    width: 315px;
    height: 20px;
    margin: 8px;
    float: left;
    overflow: hidden;
}

.fileTypeDescriptor {
    width: 155px;
    height: 20px;
    margin: 8px;
    float: left;
    overflow: hidden;
}

.fileSizeDescriptor {
    width: 155px;
    height: 20px;
    margin: 8px;
    float: left;
    overflow: hidden;
}

.sharedFile {
    width: 90px;
    height: 20px;
    margin: 0px;
    float: right;
}

.uploadForm {
    width: 90px;
    height: 20px;
    margin: 8px;
    float: right;
}

#login {
    border: 1px;
    border-style: solid;
    border-color: #999;
    width: 324px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#loginInputForm {
    width: 308px;
    height: 94px;
}

.loginInput {
    outline: 0;
    border: 0;
    font-size: 18px;
    padding: 8px 4px;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0px 1px 4px #999;
    -webkit-box-shadow: 0px 1px 4px #999;
    -moz-box-shadow: 0px 1px 4px #999;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#999, offX=0px, offY=1px, positive=true);
}

.loginInput:focus {
    box-shadow: 0px 1px 4px #000000;
    -webkit-box-shadow: 0px 1px 4px #000000;
    -moz-box-shadow: 0px 1px 4px #000000;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000000, offX=0px, offY=1px, positive=true);
}

.hiddenSubmitButton {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.pipe {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.fileListItem {
    cursor: pointer;
    color: #546172;
}

.fileListItem:hover {
    cursor: pointer;
    text-decoration: underline;
}